* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

main {
  padding-bottom: 5px;
  border-color: gray;
  padding: 5rem;
  margin: auto;
  font-family: sans-serif;
  background-size: cover;
  background-color: #f3f1f5;
}

section {
  padding: 25px 35px 25px 35px;
  background-color: white;
}

hr {
  color: transparent;
}

ul {
  list-style: disclosure-open;
  font-size: 26px;
}

li {
  padding: 10px 0;
}

.nodisclosure {
  font-size: medium;
  list-style: none;
}

span {
  margin-right: 15px;
}

.titololista {
  font-size: 26px;
  font-weight: bold;
}

#logo {
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  margin: 15px 10px 15px 10px;
}

.titolostyle {
  display: inline-block;
}

.c {
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  color: white;
  border-color: ivory;
  border-style: solid;
}

.b_all {
  text-align: center;
  border-radius: 8px;
  border-color: ghostwhite;
  margin-top: 25px;
  padding: 12px 28px;
  background-color: ghostwhite;
  color: grey;
}

.b_blu {
  background-color: #0078d7;
  border-color: #0078d7;
  color: white;
}

.ok {
  color: #16c60c;
  border-color: #16c60c;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
}
.no {
  color: #f03a17;
  border-color: #f03a17;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
}

.blue {
  background-color: #0078d7;
}
.violet {
  background-color: #cf69b9;
}
.green {
  background-color: #50d13f;
}
.orange {
  background-color: #ecac21;
}
.greenacid {
  background-color: #7dfc07;
}
.fucsia {
  background-color: #ee22e4;
}
